$color-white: #fff;
$color-black: #000;
$color-border: #d8d8d8;

$color-base: #f1eae3;
$color-bg: #71696e;

$color-milktea: #d6be9c;
$color-tapioca: #684535;
$color-sugar: #9b7d66;
$color-accent: #e04e3a;
